name: ir_net
description: Windows tool to show if user is connected to Iran internet or a VPN
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 1.4.3+11
environment:
  sdk: ">=3.2.3 <4.0.0"
  flutter: "3.29.0"

dependencies:
  sentry_flutter: ^9.8.0
  flutter:
    sdk: flutter
  system_tray: ^2.0.3
  http: ^1.1.2
  connectivity_plus: ^6.1.5
  map: ^1.3.3
  latlng: ^0.2.0
  cached_network_image: ^3.2.1
  rxdart: ^0.27.5
  launch_at_startup: ^0.0.1
  package_info_plus: ^8.3.1
  touch_mouse_behavior: ^1.0.0
  url_launcher: ^6.3.2
  shared_preferences: ^2.5.3
  live_event: ^1.0.0
  win_toast: ^0.0.2
  windows_single_instance: ^1.0.1
  dio: ^4.0.6
  path_provider: ^2.1.5
  window_manager: ^0.3.9
  flutter_speedtest: ^0.2.0
  country_flags: ^4.0.0

dev_dependencies:
  sentry_dart_plugin: ^3.2.0
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  msix: ^3.6.3
  win32: ^5.11.0
  sqflite: ^2.4.1

msix_config:
  display_name: IRNet
  certificate_path: C:\Workspace\Flutter\ir_net\windows\signing\CERTIFICATE.pfx
  certificate_password: IrNetProject
  logo_path: C:\Workspace\Flutter\ir_net\assets\app_icon.png
  start_menu_icon_path: C:\Workspace\Flutter\ir_net\assets\app_icon.png
  tile_icon_path: C:\Workspace\Flutter\ir_net\assets\app_icon.png
  publisher_display_name: BuildToApp
  identity_name: com.buildtoapp.irnet
  msix_version: 1.0.0.0
  capabilities: internetClient
  install_certificate: true
  app_installer:
    publish_folder_path: build\windows\runner\Release

flutter:
  uses-material-design: true
  assets:
    - assets/

sentry:
  upload_debug_symbols: true
  upload_source_maps: true
  project: flutter
  org: buildtoapp
